
<tr bgcolor="<%= procurement.processed_status %>">
  <td>
    <%= procurement.vendor_code %>
  </td>
  <td>
    <%= procurement.purchaseorder_id %>
  </td>
  <td>
    <%= procurement.sku %>
  </td>
  <td>
    <%= procurement.date %>
  </td>
</tr>




