<h1>Application Login Page</h1>

<% form_tag :action => 'authenticate' do %>

    <table class = "vendor_data">
      <tr>
        <td>
            <%= label_tag :username %>
        </td>
        <td>
            <%= text_field_tag :username, params[:username] %>
        </td>
      </tr>

      <tr>
        <td>
            <%= label_tag :password %>
        </td>
        <td>
            <%= password_field_tag :password %>
        </td>
      </tr>

      <tr>
        <td colspan="2">
            <%= submit_tag('Login') %>
        </td>
      </tr>

<% end %>