<h1>Application Login Page</h1>

<% form_tag :action => 'authenticate' do %>

    <table class = "vendortable">
      <tr>
        <td>
            <%= label_tag :username %>
        </td>
        <td>
            <%= text_field_tag :username, params[:username] %>
        </td>
      </tr>

      <tr>
        <td>
            <%= label_tag :password %>
        </td>
        <td>
            <%= password_field_tag :password %>
        </td>
      </tr>

      <tr>
        <td>
            <%= label_tag :session_selector %>
        </td>
        <td>
          Vendor        <%= radio_button_tag 'session_selector', "vendor", false %>
          User          <%= radio_button_tag 'session_selector', "user", false %>
        </td>
      </tr>

      <tr>
        <td colspan="2">
            <%= submit_tag('Login') %>
        </td>
      </tr>
    </table>

<% end %>