- counter = defined?(vendor_counter) ? vendor_counter : 0
%tr{ :class => css(counter)}
    %td
        %strong
            = vendor.name
        %table{ :class => "vendor_data" }
            %tbody
                %tr
                    %th Vendor Code
                    %td
                        = vendor.code
                %tr
                    %th Vendor Contact
                    %td
                        = vendor.contact

        %small.expand_button
            = link_to "Vendors POs", { :controller => 'vendors', :action => 'vendors_purchaseorders', :format => :js, :id => vendor.id }, :remote => true
        %small.expand_button
            = link_to "Vendors Summary POs", { :controller => 'vendors', :action => 'vendors_purchaseorders', :format => :js, :id => vendor.id, :summary => true }, { :remote => true }
        %div{ :id=>"purchaseorders_#{vendor.id}" }
