<table>
  <tbody>
  <tr>
    <th colspan="2">
        Battery Type
    </th>
    <td colspan="4">
        <%= battery_detail.battery_type %>
    </td>
  </tr>
  <tr>
    <th>
        Battery Size
    </th>
    <td>
        <%= battery_detail.size %>
    </td>

    <th>
        Battery Units
    </th>
    <td>
        <%= battery_detail.units %>
    </td>

    <th>
        Battery weight (GR)
    </th>
    <td>
        <%= battery_detail.battery_wt %>
    </td>
  </tr>
  <tr>
    <th colspan="2">
        Battery Packaging Type
    </th>
    <td colspan="4">
        <%= battery_detail.packaging %>
    </td>
  </tr>
  <tr>
    <th colspan="2">
        Battery Brand Name
    </th>
    <td colspan="4">
        <%= battery_detail.brand %>
    </td>
  </tr>

 </tbody>
</table>
