<tr>
  <td>
    <div class="compliance_set" id="compliance_set_<%= compliance.id %>">
      <table class="csheader">
        <tr>
          <th><h3>Compliance Set</h3></th>
          <% if session[:type] == "vendor" then %>
              <td align="right">
                Use this Compliance Set <%= radio_button_tag 'compliance_set_selector', compliance.id, false, :class => "compliance_set_selector_radio" %>
              </td>
          <% end %>

        </tr>
      </table>
      <table class="csdata">
        <tr>
          <th>Last Activity:</th>
          <td><%= compliance.last_activity_at %></td>
        </tr>
        <tr>
          <th>Notes:</th>
          <td><form><textarea cols="50" rows="3" readonly="true"><%= compliance.vendor_notes %></textarea></form></td>
        </tr>
        <tr>
          <th>Status:</th>
          <td><%= compliance.status %></td>
        </tr>
        <tr>
          <th>Submitter:</th>
          <td><%= compliance.esignature %></td>
        </tr>



          <% if session[:type] == "vendor" then %>
              <tr id="associate_pos_form_<%= compliance.id %>" class="associate_poid_form">
                <td colspan="2">
                <h3>Associate Purchase Orders:</h3>
                  <table>
                  <%= form_tag( { :controller => "compliances", :action => "associate_purchase_orders" }, :method => :put) do %>
                        <!-- Make sure already approved / associated asins are treated differently -->
                        <!-- remove compliance_approved asins from display  by checking status as they are already associated with a compliance_approved compliance set from the vendor -->
                        <!-- set the checked status if asin is already associated with the current compliance set -->
                      <% Asin.by_vendor(Vendor.find(session[:id])).by_sku(compliance.sku).unapproved.each do |asin|  %>
                        <tr>
                          <th> <%=  asin.purchaseorder.code %></th>
                            <td>
                              <%= check_box_tag( "asins[]", value = asin.id, checked = (asin.compliance == compliance) ) %>
                              <%= hidden_field_tag 'compliance_id', compliance.id %>
                            </td>
                        </tr>
                      <% end %>
                      <tr>
                        <td colspan="2">
                          <%= submit_tag( "Associate", :class => "button") %>
                        </td>
                      </tr>
                  <% end %>
                  </table>
                </td>
              </tr>
          <% end %>




        <tr>
          <th>View Details</th>
          <td><%= link_to 'Show', compliance %></td>
        </tr>

        <% if (session[:type].eql?("vendor") and compliance.is_vendor_editable) or !session[:type].eql?("vendor") then %>
            <tr>
              <th>Edit Details</th>
              <td><%= link_to 'Edit', edit_compliance_path(compliance) %></td>
            </tr>
        <% end %>


        <% if session[:type].eql?("vendor") then %>
            <tr>
              <th>Clone Compliance Set</th>
              <td><%= link_to 'Clone', copy_compliance_path(compliance)  %></td>
            </tr>
        <% end %>

        <% if is_compliance_deletable(compliance) then %>
            <tr>
              <th>Delete Compliance Set</th>
              <td><%= link_to 'Destroy', compliance, :confirm => 'Are you sure?', :method => :delete %></td>
            </tr>
        <% end %>



      </table>
    </div>
  </td>
</tr>