<div class="compliance_form">
  <%= nested_form_for @compliance, :html => { :multipart => true } do |f| %>

  <% if @compliance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compliance.errors.count, "error") %> prohibited this compliance from being saved:</h2>

      <ul>
      <% @compliance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="compliance_set_status">
      <table>
        <tbody>
          <tr>
            <th>
              Status
            </th>
            <td>
              <%= f.select(:status, compliance_set_status) %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


  <div class="asin_data">
    <table>
      <tbody>

      <tr>
        <th>
            <%= f.label :sku %>
        </th>
        <td>
        <% if !@compliance.sku and session[:type].eql?("vendor") and @compliance.is_vendor_editable then %>
            <%= f.text_field :sku %>
        <% else %>
            <%= @compliance.sku  %>
            <%=  hidden_field( :compliance, :sku, :value => @compliance.sku) %>
        <% end %>
        </td>
      </tr>

      <tr>
        <th>
            <%= f.label :vendor_product_number %>
        </th>
        <td>
            <%= f.text_field :vendor_product_number, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
        </td>
      </tr>

      <tr>
        <th>
            <%= f.label :brand %>
        </th>
        <td>
            <%= f.text_field :brand, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
        </td>
      </tr>

      <tr>
        <th>
            <%= f.label :vendor_id %>
        </th>
        <td>
            <%= @compliance.vendor.code %>
            <%=  hidden_field( :compliance, :vendor_id, :value => @compliance.vendor.id) %>
        </td>
      </tr>

      </tbody>
    </table>
  </div>


    <div class="modify_form_section">
      <%= link_to "Show WEEE Fields", "#", :id => "show_wee_fields" %>
    </div>

    <div class="modify_form_section">
      <%= link_to "Hide WEEE Fields", "#", :id => "hide_wee_fields" %>
    </div>


    <!--add_column :compliances, :paper_cardboard_wt, :string-->
    <!--add_column :compliances, :plastic_wt, :string-->
    <!--add_column :compliances, :metal_wt, :string-->
    <!--add_column :compliances, :other_wt, :string-->
    <!--add_column :compliances, :net_wt, :string-->
    <div id="wee_fields" class="wee_data" >
      <table>
        <tbody>

        <tr>
          <th>
              <%= f.label :paper_cardboard_wt %>
          </th>
          <td>
              <%= f.text_field :paper_cardboard_wt, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable), :class => 'wt_data' %>
          </td>
          <th>
              <%= f.label :plastic_wt %>
          </th>
          <td>
              <%= f.text_field :plastic_wt, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable), :class => 'wt_data' %>
          </td>
          <th>
              <%= f.label :metal_wt %>
          </th>
          <td>
              <%= f.text_field :metal_wt, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable), :class => 'wt_data' %>
          </td>
          <th>
              <%= f.label :other_wt %>
          </th>
          <td>
              <%= f.text_field :other_wt, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable), :class => 'wt_data' %>
          </td>
          <th colspan="2">
              <%= f.label :net_wt %>
          </th>
          <td colspan="2">
              <%= f.text_field :net_wt, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable), :class => 'wt_data' %>
          </td>
        </tr>

       </tbody>
      </table>

      <!--add_column :compliances, :wee_compliance, :boolean-->
      <%= f.label :wee_compliance %>
      <%= f.check_box(:wee_compliance,  :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable)) %>

      <table id='wee_category_selector'>
       <tbody>
        <!--add_column :compliances, :wee_category, :string-->
        <tr>
          <th>
            <%= f.label :wee_category %>
          </th>
          <td>
            <%= f.select(:wee_category, wee_standards, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable)) %>
          </td>
        </tr>
       </tbody>
      </table>


      <!--add_column :compliances, :contains_battery, :boolean-->
      <%= f.label :contains_battery %>
      <%= f.check_box :contains_battery,  :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>

      <table id='wee_battery_details'>
       <tbody>

        <!--add_column :compliances, :battery_description, :string-->
        <!--add_column :compliances, :battery_brand, :string-->
        <!--add_column :compliances, :battery_wt, :string-->
        <tr>
          <th>
            <%= f.label :battery_description %>
          </th>
          <td>
            <%= f.text_field :battery_description, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
          </td>
        </tr>

        <tr>
          <th>
            <%= f.label :battery_brand %>
          </th>
          <td>
            <%= f.text_field :battery_brand, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :battery_wt %>
          </th>
          <td>
            <%= f.text_field :battery_wt, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
          </td>
        </tr>
        <!-- Auto Complete field -->
        <tr>
          <th>
            <%= f.label :battery_type %>
          </th>
          <td>
            <%= f.autocomplete_field :battery_type, compliances_autocomplete_battery_type_name_path %>
          </td>
        </tr>


        <!-- Auto Complete field -->
        </tbody>
      </table>
    </div>


  <!-- Insert Form for Lab -->
  <div class="compliance_tests">
    <%= f.fields_for :labs do |lab_form| %>
        <table class="compliance_tests">
          <tbody>
            <tr>
              <th>
                Lab Information
              </th>
              <td>
                <%= lab_form.text_area :info, :rows => 4, :cols => 36 %>
              </td>
            </tr>

            <tr>
              <th>
                Testing Date
              </th>
              <td>
                <%= lab_form.date_select :testing_date %>
              </td>
            </tr>

            <tr>
              <th>
                Report Number
              </th>
              <td>
                <%= lab_form.text_field :report_number %>
              </td>
            </tr>

            <tr>
              <th>
                Standards
              </th>
              <td>
                <%= lab_form.text_area :standards, :rows => 4, :cols => 36 %>
              </td>
            </tr>
            <% if session[:type].eql?("vendor") and @compliance.is_vendor_editable then %>
                <tr>
                  <td colspan="2" class="modify_form_section">
                    <%= lab_form.link_to_remove "Remove this lab" %>
                  </td>
                </tr>
            <% end %>
          </tbody>
        </table>
    <% end %>
  </div>

  <% if session[:type].eql?("vendor") and @compliance.is_vendor_editable then %>
      <div class="modify_form_section">
        <%= f.link_to_add "Add a lab", :labs %>
      </div>
  <% end %>



  <!-- Insert Form for Document-->
  <div class="compliance_docs">
    <%= f.fields_for :documents do |document_form| %>
        <table class="compliance_docs">
          <tbody>
            <% if !document_form.object.id.nil? then %>
                <tr>
                  <th>
                    Document URL
                  </th>
                  <td>
                    <%= document_form.text_field :url, :readonly => true %>
                  </td>
                </tr>
            <% else %>
              <tr>
                <th>
                  Select File to Upload
                </th>
                <td>
                  <%= document_form.file_field :file %>
                </td>
              </tr>
            <% end %>
            <% if session[:type].eql?("vendor") and @compliance.is_vendor_editable then %>
                <tr>
                  <td colspan="2" class="modify_form_section">
                    <%= document_form.link_to_remove "Remove this document" %>
                  </td>
                </tr>
            <% end %>
          </tbody>
        </table>
    <% end  %>
  </div>

  <% if session[:type].eql?("vendor") and @compliance.is_vendor_editable then %>
      <div class="modify_form_section">
        <%= f.link_to_add "Add a Document", :documents %>
      </div>
  <% end %>





  <div class="record_data">
    <table>
      <tbody>

      <tr>
        <th>
            <%= f.label :importer_of_record %>
        </th>
        <td>
            <%= f.text_area :importer_of_record, :rows => 4, :cols => 36, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
        </td>
      </tr>

      <tr>
        <th>
            <%= f.label :keeper_of_record %>
        </th>
        <td>
            <%= f.text_area :keeper_of_record, :rows => 4, :cols => 36, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
        </td>
      </tr>

      <tr>
        <th>
            <%= f.label :manufacture_date %>
        </th>
        <td>
            <%= f.date_select :manufacture_date, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
        </td>
      </tr>

      <tr>
        <th>
            <%= f.label :manufacture_place %>
        </th>
        <td>
            <%= f.text_field :manufacture_place, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
        </td>
      </tr>

      <tr>
        <th>
            <%= f.label :esignature %>
        </th>
        <td>
            <%= f.text_field :esignature, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
        </td>
      </tr>

      <tr>
        <th>
            <%= f.label :position %>
        </th>
        <td>
            <%= f.text_field :position, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
        </td>
      </tr>

      <% if !session[:type].eql?("vendor") then %>
          <tr>
            <th>
                <%= f.label :comments_internal %>
            </th>
            <td>
                <%= f.text_area :comments_internal, :rows => 4, :cols => 36, :readonly => !@compliance.is_user_editable %>
            </td>
          </tr>
      <% end %>


      <tr>
        <th>
            <%= f.label :comments_external %>
        </th>
        <td>
            <%= f.text_area :comments_external, :rows => 4, :cols => 36, :readonly => (session[:type].eql?("vendor") || !@compliance.is_user_editable) %>
        </td>
      </tr>

      <tr>
        <th>
            <%= f.label :vendor_notes %>
        </th>
        <td>
            <%= f.text_area :vendor_notes, :rows => 4, :cols => 36, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
        </td>
      </tr>

      </tbody>
    </table>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
