<div class="compliance_form">
  <%= nested_form_for @compliance, :html => { :multipart => true } do |f| %>

  <% if @compliance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compliance.errors.count, "error") %> prohibited this compliance from being saved:</h2>

      <ul>
      <% @compliance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="compliance_set_status">
      <table>
        <tbody>
          <tr>
            <th>
              Status
            </th>
            <td>
              <%= f.select(:status, compliance_set_status) %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


  <div class="asin_data">
    <table>
      <tbody>

      <tr>
        <th>
            ASIN
        </th>
        <td>
        <% if !@compliance.sku and session[:type].eql?("vendor") and @compliance.is_vendor_editable then %>
            <%= f.text_field :sku %>
        <% else %>
            <%= @compliance.sku  %>
            <%=  hidden_field( :compliance, :sku, :value => @compliance.sku) %>
        <% end %>
        </td>
      </tr>

      <tr>
        <th>
            Item Number
        </th>
        <td>
            <%= f.text_field :vendor_product_number, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
        </td>
      </tr>

      <tr>
        <th>
            Title
        </th>
        <td>
          <% if !@compliance.sku then %>
              No ASIN available
          <% else %>
              <%= Asin.find_by_sku(@compliance.sku).title  %>
          <% end %>
        </td>
      </tr>

      <tr>
        <th>
            <%= f.label :brand %>
        </th>
        <td>
            <%= f.text_field :brand, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
        </td>
      </tr>

      <tr>
        <th>
            <%= f.label :vendor_id %>
        </th>
        <td>
            <%= @compliance.vendor.code %>
            <%=  hidden_field( :compliance, :vendor_id, :value => @compliance.vendor.id) %>
        </td>
      </tr>

      </tbody>
    </table>
  </div>


    <div id="wee_fields" class="wee_data" >
        <%= f.fields_for :packaging_details do |packaging_detail_form| %>

          <table class="wee_data">
            <tbody>
            <tr>
              <th>
                  Paper/Cardboard (GR)
              </th>
              <td>
                  <%= packaging_detail_form.text_field :paper_cardboard_wt, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable), :class => 'wt_data' %>
              </td>
              <th>
                  Plastic (GR) all types
              </th>
              <td>
                  <%= packaging_detail_form.text_field :plastic_wt, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable), :class => 'wt_data' %>
              </td>
              <th>
                  Others (GR) like metal or composite
              </th>
              <td>
                  <%= packaging_detail_form.text_field :other_wt, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable), :class => 'wt_data' %>
              </td>
            </tr>

            <% if session[:type].eql?("vendor") and @compliance.is_vendor_editable then %>
                <tr>
                  <td colspan="6" class="modify_form_section">
                    <%= packaging_detail_form.link_to_remove "Remove this Packaging Data" %>
                  </td>
                </tr>
            <% end %>

           </tbody>
          </table>

        <% end  %>
    </div>

    <% if session[:type].eql?("vendor") and @compliance.is_vendor_editable then %>
        <div class="modify_form_section">
          <%= f.link_to_add "Add Packaging Data", :packaging_details %>
        </div>
    <% end %>


    <div id="wee_fields" class="wee_data" >
        <%= f.fields_for :product_details do |product_detail_form| %>

          <table class="wee_data">
            <tbody>
            <tr>
              <th>
                  WEEE Category
              </th>
              <td>
                  <%= product_detail_form.select(:weee_category, wee_standards, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable)) %>
              </td>
              <th>
                  Net Product Weight (GR)
              </th>
              <td>
                  <%= product_detail_form.text_field :net_product_wt, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable), :class => 'wt_data' %>
              </td>
            </tr>

            <% if session[:type].eql?("vendor") and @compliance.is_vendor_editable then %>
                <tr>
                  <td colspan="6" class="modify_form_section">
                    <%= product_detail_form.link_to_remove "Remove this WEEE Product Data" %>
                  </td>
                </tr>
            <% end %>

           </tbody>
          </table>

        <% end  %>
    </div>

    <% if session[:type].eql?("vendor") and @compliance.is_vendor_editable then %>
        <div class="modify_form_section">
          <%= f.link_to_add "Add WEEE Product Data", :product_details %>
        </div>
    <% end %>



    <div id="wee_fields" class="wee_data" >
        <%= f.fields_for :battery_details do |battery_detail_form| %>

          <table class="wee_data">
            <tbody>
            <tr>
              <th colspan="2">
                  Battery Type
              </th>
              <td colspan="4">
                  <%= battery_detail_form.select( :battery_type, battery_types, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable)) %>
              </td>
            </tr>
            <tr>
              <th>
                  Battery Size
              </th>
              <td>
                <%= battery_detail_form.autocomplete_field :size, compliances_autocomplete_battery_size_size_path, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable), :class => 'wt_data' %>
              </td>

              <th>
                  Battery Units
              </th>
              <td>
                  <%= battery_detail_form.text_field :units, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable), :class => 'wt_data' %>
              </td>

              <th>
                  Battery weight (GR)
              </th>
              <td>
                  <%= battery_detail_form.text_field :battery_wt, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable), :class => 'wt_data' %>
              </td>
            </tr>
            <tr>
              <th colspan="2">
                  Battery Packaging Type
              </th>
              <td colspan="4">
                  <%= battery_detail_form.text_field :packaging, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
              </td>
            </tr>
            <tr>
              <th colspan="2">
                  Battery Brand Name
              </th>
              <td colspan="4">
                  <%= battery_detail_form.text_field :brand, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
              </td>
            </tr>


            <% if session[:type].eql?("vendor") and @compliance.is_vendor_editable then %>
                <tr>
                  <td colspan="6" class="modify_form_section">
                    <%= battery_detail_form.link_to_remove "Remove this Battery Detail" %>
                  </td>
                </tr>
            <% end %>

           </tbody>
          </table>

        <% end  %>
    </div>

    <% if session[:type].eql?("vendor") and @compliance.is_vendor_editable then %>
        <div class="modify_form_section">
          <%= f.link_to_add "Add Battery Details", :battery_details %>
        </div>
    <% end %>



  <!-- Insert Form for Lab -->
  <div class="compliance_tests">
    <%= f.fields_for :labs do |lab_form| %>
        <table class="compliance_tests">
          <tbody>
            <tr>
              <th>
                Lab Information
              </th>
              <td>
                <%= lab_form.text_area :info, :rows => 4, :cols => 36 %>
              </td>
            </tr>

            <tr>
              <th>
                Testing Date
              </th>
              <td>
                <%= lab_form.date_select :testing_date %>
              </td>
            </tr>

            <tr>
              <th>
                Report Number
              </th>
              <td>
                <%= lab_form.text_field :report_number %>
              </td>
            </tr>

            <tr>
              <th>
                Standards
              </th>
              <td>
                <%= lab_form.text_area :standards, :rows => 4, :cols => 36 %>
              </td>
            </tr>
            <% if session[:type].eql?("vendor") and @compliance.is_vendor_editable then %>
                <tr>
                  <td colspan="2" class="modify_form_section">
                    <%= lab_form.link_to_remove "Remove this lab" %>
                  </td>
                </tr>
            <% end %>
          </tbody>
        </table>
    <% end %>
  </div>

  <% if session[:type].eql?("vendor") and @compliance.is_vendor_editable then %>
      <div class="modify_form_section">
        <%= f.link_to_add "Add a lab", :labs %>
      </div>
  <% end %>



  <!-- Insert Form for Document-->
  <div class="compliance_docs">
    <%= f.fields_for :documents do |document_form| %>
        <table class="compliance_docs">
          <tbody>
            <% if !document_form.object.id.nil? then %>
                <tr>
                  <th>
                    Document URL
                  </th>
                  <td>
                    <%= document_form.text_field :url, :readonly => true %>
                  </td>
                </tr>
            <% else %>
              <tr>
                <th>
                  Select File to Upload
                </th>
                <td>
                  <%= document_form.file_field :file %>
                </td>
              </tr>
            <% end %>
            <% if session[:type].eql?("vendor") and @compliance.is_vendor_editable then %>
                <tr>
                  <td colspan="2" class="modify_form_section">
                    <%= document_form.link_to_remove "Remove this document" %>
                  </td>
                </tr>
            <% end %>
          </tbody>
        </table>
    <% end  %>
  </div>

  <% if session[:type].eql?("vendor") and @compliance.is_vendor_editable then %>
      <div class="modify_form_section">
        <%= f.link_to_add "Add a Document", :documents %>
      </div>
  <% end %>





  <div class="record_data">
    <table>
      <tbody>

      <tr>
        <th>
            Availability in European Countries
        </th>
        <td>
            <%= f.text_field  :efn_availability, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
        </td>
      </tr>

      <tr>
        <th>
            Restriction for the following Countries
        </th>
        <td>
            <%= f.text_area :efn_restrictions, :rows => 4, :cols => 36, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
        </td>
      </tr>

      <tr>
        <th>
            Reason of Country Restriction
        </th>
        <td>
            <%= f.text_area :efn_restriction_reason, :rows => 4, :cols => 36, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
        </td>
      </tr>

      <tr>
        <th>
            <%= f.label :importer_of_record %>
        </th>
        <td>
            <%= f.text_area :importer_of_record, :rows => 4, :cols => 36, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
        </td>
      </tr>

      <tr>
        <th>
            <%= f.label :keeper_of_record %>
        </th>
        <td>
            <%= f.text_area :keeper_of_record, :rows => 4, :cols => 36, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
        </td>
      </tr>

      <tr>
        <th>
            Production date
        </th>
        <td>
            <%= f.date_select :manufacture_date, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
        </td>
      </tr>

      <tr>
        <th>
            Country of origin
        </th>
        <td>
            <%= f.text_field :manufacture_place, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
        </td>
      </tr>

      <tr>
        <th>
            Esignature - responsible person<sup>*</sup>
        </th>
        <td>
            <%= f.text_field :esignature, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
        </td>
      </tr>

      <tr>
        <th>
            <%= f.label :position %>
        </th>
        <td>
            <%= f.text_field :position, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
        </td>
      </tr>

      <% if !session[:type].eql?("vendor") then %>
          <tr>
            <th>
                <%= f.label :comments_internal %>
            </th>
            <td>
                <%= f.text_area :comments_internal, :rows => 4, :cols => 36, :readonly => !@compliance.is_user_editable %>
            </td>
          </tr>
      <% end %>


      <tr>
        <th>
            <%= f.label :comments_external %>
        </th>
        <td>
            <%= f.text_area :comments_external, :rows => 4, :cols => 36, :readonly => (session[:type].eql?("vendor") || !@compliance.is_user_editable) %>
        </td>
      </tr>

      <tr>
        <th>
            <%= f.label :vendor_notes %>
        </th>
        <td>
            <%= f.text_area :vendor_notes, :rows => 4, :cols => 36, :readonly => (!session[:type].eql?("vendor") || !@compliance.is_vendor_editable) %>
        </td>
      </tr>

      </tbody>
    </table>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
