<table class="compliance_tests">
  <tbody>
    <tr>
      <th>
        Lab Information
      </th>
      <td>
        <%= f.text_area :info, :rows => 4, :cols => 36 %>
      </td>
    </tr>

    <tr>
      <th>
        Testing Date
      </th>
      <td>
        <%= f.date_select :testing_date %>
      </td>
    </tr>

    <tr>
      <th>
        Report Number
      </th>
      <td>
        <%= f.text_field :report_number %>
      </td>
    </tr>

    <tr>
      <th>
        Standards
      </th>
      <td>
        <%= f.text_area :standards, :rows => 4, :cols => 36 %>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <%= f.link_to_remove "Remove this lab" %>
      </td>
    </tr>
  </tbody>
</table>
