<p id="notice"><%= notice %></p>
<!--TODo : Extract as a header for compliance set pages-->
<div class="compliance">
  <table class="compliance_sets">
    <tr>
      <td>
        Vendor
      </td>
      <td>
        <%= Vendor.find(@compliance.vendor_id).code  %>
      </td>
    </tr>
    <tr>
      <td>
        Sku
      </td>
      <td>
        <%= @compliance.sku %>
      </td>
    </tr>

    <% if (session[:type].eql?("vendor") and @compliance.is_vendor_editable) or !session[:type].eql?("vendor") then %>
        <tr>
          <td>Edit this Compliance Set</td>
          <td><%= link_to 'Edit', edit_compliance_path(@compliance) %></td>
        </tr>
    <% end %>

    <% if is_compliance_deletable(@compliance) then %>
        <tr>
          <td>Delete this Compliance Set</td>
          <td><%= link_to 'Destroy', @compliance, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
    <% end %>



  </table>
</div>




<div class="compliance_form">
    <div class="asin_data">
        <table>
        <tbody>
            <tr>
                <th>
                    ASIN
                </th>
                <td>
                    <%= @compliance.sku %>
                </td>
            </tr>

            <tr>
                <th>
                    Vendor Product Number
                </th>
                <td>
                    <%= @compliance.vendor_product_number %>
                </td>
            </tr>

            <tr>
                <th>
                    Brand
                </th>
                <td>
                    <%= @compliance.brand %>
                </td>
            </tr>

            <tr>
                <th>
                    Vendor
                </th>
                <td>
                    <%= Vendor.find(@compliance.vendor_id).code  %>
                </td>
            </tr>

            <tr>
                <th>
                    Status
                </th>
                <td>
                    <%= @compliance.status %>
                </td>
            </tr>

        </tbody>
        </table>
    </div>



    <!--add_column :compliances, :paper_cardboard_wt, :string-->
    <!--add_column :compliances, :plastic_wt, :string-->
    <!--add_column :compliances, :metal_wt, :string-->
    <!--add_column :compliances, :other_wt, :string-->
    <!--add_column :compliances, :net_wt, :string-->

    <div class="asin_data">
      <table>
        <tbody>

        <tr>
          <th>
              Paper Cardboard Weight
          </th>
          <td>
              <%= @compliance.paper_cardboard_wt %>
          </td>
          <th>
              Plastic Weight
          </th>
          <td>
              <%= @compliance.plastic_wt %>
          </td>
        </tr>

        <tr>
          <th>
              Metal Weight
          </th>
          <td>
              <%= @compliance.metal_wt %>
          </td>
          <th>
              Other Weight
          </th>
          <td>
              <%= @compliance.other_wt %>
          </td>
        </tr>

        <tr>
          <th colspan="2">
              Net Weight
          </th>
          <td colspan="2">
              <%= @compliance.net_wt %>
          </td>
        </tr>

        <!--add_column :compliances, :wee_compliance, :boolean-->
        <!--add_column :compliances, :wee_category, :string-->

        <tr>
          <th>
            Weee Compliance
          </th>
          <td>
            <%= check_box_tag 'wee_complaince', :checked => @compliance.wee_compliance, :readonly => true, :disabled => true   %>
          </td>
          <th>
            Wee Category
          </th>
          <td>
            <%= @compliance.wee_category %>
          </td>
        </tr>

        <!--add_column :compliances, :contains_battery, :boolean-->
        <!--add_column :compliances, :battery_description, :string-->
        <!--add_column :compliances, :battery_brand, :string-->
        <!--add_column :compliances, :battery_wt, :string-->

        <tr>
          <th>
            Contains Battery
          </th>
          <td>
            <%= check_box_tag 'contains_battery', :checked => @compliance.contains_battery, :readonly => true, :disabled => true   %>
          </td>
          <th>
            Battery Description
          </th>
          <td>
            <%= @compliance.battery_description %>
          </td>
        </tr>

        <tr>
          <th>
            Battery Brand
          </th>
          <td>
            <%= @compliance.battery_brand %>
          </td>
          <th>
            Battery Weight
          </th>
          <td>
            <%= @compliance.battery_wt %>
          </td>
        </tr>

        </tbody>
      </table>
    </div>



    <!-- Associated Lab Details -->
    <div class="compliance_tests">

    <%= render :partial => "lab", :collection => @compliance.labs %>

    </div>

    <!-- Associated Document Details -->
    <div class="compliance_docs">

    <%= render :partial => "document", :collection => @compliance.documents %>

    </div>


    <div class="record_data">
        <table>
        <tbody>
            <tr>
                <th>
                    Importer of Record
                </th>
                <td>
                    <%= @compliance.importer_of_record %>
                </td>
            </tr>

            <tr>
                <th>
                    Keeper of Record
                </th>
                <td>
                    <%= @compliance.keeper_of_record %>
                </td>
            </tr>

            <tr>
                <th>
                    Manufacture Date
                </th>
                <td>
                    <%= @compliance.manufacture_date %>
                </td>
            </tr>

            <tr>
                <th>
                    Manufacture Place
                </th>
                <td>
                    <%= @compliance.manufacture_place %>
                </td>
            </tr>

            <tr>
                <th>
                    Esignature
                </th>
                <td>
                    <%= @compliance.esignature %>
                </td>
            </tr>

            <tr>
                <th>
                    Position in Company
                </th>
                <td>
                    <%= @compliance.position %>
                </td>
            </tr>

            <% if session[:type] == "user" then %>
                <tr>
                    <th>
                        Comments (Internal)
                    </th>
                    <td>
                        <%= @compliance.comments_internal %>
                    </td>
                </tr>
            <% end %>

            <tr>
                <th>
                    Comments (External)
                </th>
                <td>
                    <%= @compliance.comments_external %>
                </td>
            </tr>

            <tr>
                <th>
                    Vendor Notes
                </th>
                <td>
                    <%= @compliance.vendor_notes %>
                </td>
            </tr>

          </tbody>
        </table>
    </div>


</div>
