<p id="notice"><%= notice %></p>
<!--TODo : Extract as a header for compliance set pages-->
<div class="compliance">
  <table class="compliance_sets">
    <tr>
      <td>
        Vendor
      </td>
      <td>
        <%= Vendor.find(@compliance.vendor_id).code  %>
      </td>
    </tr>
    <tr>
      <td>
        Sku
      </td>
      <td>
        <%= @compliance.sku %>
      </td>
    </tr>

    <% if (session[:type].eql?("vendor") and @compliance.is_vendor_editable) or !session[:type].eql?("vendor") then %>
        <tr>
          <td>Edit this Compliance Set</td>
          <td><%= link_to 'Edit', edit_compliance_path(@compliance) %></td>
        </tr>
    <% end %>

    <% if is_compliance_deletable(@compliance) then %>
        <tr>
          <td>Delete this Compliance Set</td>
          <td><%= link_to 'Destroy', @compliance, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
    <% end %>



  </table>
</div>




<div class="compliance_form">
    <div class="asin_data">
        <table>
        <tbody>
            <tr>
                <th>
                    ASIN
                </th>
                <td>
                    <%= @compliance.sku %>
                </td>
            </tr>

            <tr>
                <th>
                    Vendor Product Number
                </th>
                <td>
                    <%= @compliance.vendor_product_number %>
                </td>
            </tr>

            <tr>
                <th>
                    Brand
                </th>
                <td>
                    <%= @compliance.brand %>
                </td>
            </tr>

            <tr>
                <th>
                    Vendor
                </th>
                <td>
                    <%= Vendor.find(@compliance.vendor_id).code  %>
                </td>
            </tr>

            <tr>
                <th>
                    Status
                </th>
                <td>
                    <%= @compliance.status %>
                </td>
            </tr>

        </tbody>
        </table>
    </div>


    <!-- Associated Packaging Data Details -->
    <div class="wee_data">

    <%= render :partial => 'packaging_data', :collection => @compliance.packaging_datas %>

    </div>

  <!-- Associated WEEEE Product Data Details -->
  <div class="wee_data">

  <%= render :partial => 'weee_product_data', :collection => @compliance.weee_product_datas %>

  </div>


  <!-- Associated Battery Details -->
  <div class="wee_data">

  <%= render :partial => 'battery_detail', :collection => @compliance.battery_details %>

  </div>


    <!-- Associated Lab Details -->
    <div class="compliance_tests">

    <%= render :partial => "lab", :collection => @compliance.labs %>

    </div>

    <!-- Associated Document Details -->
    <div class="compliance_docs">

    <%= render :partial => "document", :collection => @compliance.documents %>

    </div>


    <div class="record_data">
        <table>
        <tbody>
            <tr>
                <th>
                    Importer of Record
                </th>
                <td>
                    <%= @compliance.importer_of_record %>
                </td>
            </tr>

            <tr>
                <th>
                    Keeper of Record
                </th>
                <td>
                    <%= @compliance.keeper_of_record %>
                </td>
            </tr>

            <tr>
                <th>
                    Manufacture Date
                </th>
                <td>
                    <%= @compliance.manufacture_date %>
                </td>
            </tr>

            <tr>
                <th>
                    Manufacture Place
                </th>
                <td>
                    <%= @compliance.manufacture_place %>
                </td>
            </tr>

            <tr>
                <th>
                    Esignature
                </th>
                <td>
                    <%= @compliance.esignature %>
                </td>
            </tr>

            <tr>
                <th>
                    Position in Company
                </th>
                <td>
                    <%= @compliance.position %>
                </td>
            </tr>

            <% if session[:type] == "user" then %>
                <tr>
                    <th>
                        Comments (Internal)
                    </th>
                    <td>
                        <%= @compliance.comments_internal %>
                    </td>
                </tr>
            <% end %>

            <tr>
                <th>
                    Comments (External)
                </th>
                <td>
                    <%= @compliance.comments_external %>
                </td>
            </tr>

            <tr>
                <th>
                    Vendor Notes
                </th>
                <td>
                    <%= @compliance.vendor_notes %>
                </td>
            </tr>

          </tbody>
        </table>
    </div>


</div>
