<h2> Management Page for Compliance Set</h2><br/><br/>
<div class="compliance">
  <table class="compliance_sets">
    <tr>
      <td>
        Vendor
      </td>
      <td>
        <%= Vendor.find(@vendor_id).code unless @vendor_id.nil? %>
      </td>
    </tr>
    <tr>
      <td>
        Sku
      </td>
      <td>
        <%= @sku unless @sku.nil? %>
      </td>
    </tr>
  </table>
</div>

<div class="compliance">
  <h3> <%= "Listing Vendor Owned Compliance Sets" unless @compliances_vendor.empty? %> </h3>
  <table class="compliance_sets">
    <%= render :partial => 'compliance_summary', :collection => @compliances_vendor, :as => :compliance   unless @compliances_vendor.empty? %>
  </table>
</div>

<div class="compliance">
  <h3> <%= "Listing User Owned Compliance Sets" unless @compliances_pc.empty? %> </h3>
  <table class="compliance_sets">
    <%= render :partial => 'compliance_summary', :collection => @compliances_pc, :as => :compliance   unless @compliances_pc.empty? %>
  </table>
</div>

<div class="compliance">
  <%= link_to "New Compliance Set", new_compliance_path(:sku => @sku, :vendor_id => @vendor_id) %>
</div>


