<script>
	$(function() {
        $( ".dater" ).datepicker({ dateFormat: 'yy-mm-dd' });
	});
	</script>


<div id='container' >

    <%= form_tag(:controller => "purchaseorders", :action => "search" ,:method => 'get' ) do %>
        <div class="box">
            <label>
                <span>Code</span>
                <%= text_field_tag :purchaseorder_code, params[:purchaseorder_code], :class => "box_textfield" %>
            </label>
            <br>
            <label>
              <span><%= label_tag :from_date %></span>
              <%= text_field_tag :from_date, params[:from_date], :class => "box_textfield, dater" %>
            </label>
            <br>
            <label>
                <span><%= label_tag :to_date %></span>
                <%= text_field_tag :to_date, params[:to_date], :class => "box_textfield, dater" %>
            </label>
        </div>
        <div class="box">
            <label>
            <%= submit_tag 'Research', :class => 'box_button ui-button ui-widget ui-state-default ui-corner-all' %>
            </label>
        </div>

    <% end %>

</div>
