<!DOCTYPE html>
<html>
<head>
  <title>Srq</title>
  <%= stylesheet_link_tag 'css.css', 'jquery.jgrowl', 'jquery-ui-1.8.14.custom' %>
  <%= javascript_include_tag 'jquery.js', 'jquery-ui-1.8.14.custom.min', 'autocomplete-rails', 'rails.js', 'application', 'nested_form', 'jquery.jgrowl', 'jquery.form', 'jquery.remotipart' %>
  <%= csrf_meta_tag %>
</head>
<body>



<div class="title_box">
<h1>SRQ v2.0</h1>
</div>



<div class="actions_bar">

    <ul>
        <% if session[:type] == "vendor" %>
            <li>
                Hi <%= Vendor.find(session[:id]).code %>
            </li>
            <li>
                <%= link_to "Home", vendor_home_path %>
            </li>
            <li>
                <%= link_to "New Compliance Set", new_compliance_path %>
            </li>

        <% end %>

        <% if session[:type] == "user" %>
            <li>
                Hi <%= User.find(session[:id]).username %>
            </li>
            <li>
                <%= link_to "View All Vendors", vendors_list_path %>
            </li>
            <li>
                <%= link_to "Research Vendor", research_vendor_path %>
            </li>

        <% end %>

        <li>
          <%= link_to "Research PO", research_purchaseorder_path %>
        </li>
        <li>
            <%= link_to "Research Asin", research_asin_path %>
        </li>
        <li>
            <%= link_to "Procurement Data", procurement_bulk_upload_path %>
        </li>

        <li>
            <%= link_to 'Log Out', log_out_path %>
        </li>
    </ul>
</div>

<div class="core">

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

    <%= yield %>

</div>




</body>
</html>
