<!DOCTYPE html>
<html>
<head>
  <title>Srq</title>
  <%= stylesheet_link_tag 'css.css', 'jquery.jgrowl', 'jquery-ui-1.8.14.custom' %>
  <%= javascript_include_tag 'jquery.js', 'jquery-ui-1.8.14.custom.min', 'autocomplete-rails', 'rails.js', 'application', 'nested_form', 'jquery.jgrowl', 'jquery.form', 'jquery.remotipart' %>
  <%= csrf_meta_tag %>
</head>
<body>



<div class="title_box">
<h1>SRQ v2.0</h1>
</div>


<div class="actions_bar">

   <ul>
     <li>
       <%= link_to 'Register a new Vendor', vendor_registration_path %>
     </li>
     <li>
       <%= link_to 'Register a new User', sign_up_path %>
     </li>
     <li>
        <%= link_to 'Log In', log_in_path %>
     </li>
     <li>
        <%= link_to 'Contacts', contacts_path %>
     </li>
   </ul>
</div>

<div class="core">

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

    <%= yield %>
</div>




</body>
</html>
